<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{{ titulo_de_pagina }}</title>
    <style>
      body {
        font-family: sans-serif;
        margin: 20px;
        background-color: #f4f4f4;
        color: #333;
      }
      h1 {
        color: #005f5f;
      }
      p {
        line-height: 1.6;
      }
    </style>
  </head>
  <body>
    <h1>{{ encabezado }}</h1>
    <p>Hola, {{ nombre_usuario }}. {{ mensaje_adicional }}</p>
    <p>Hoy es un día {{ dia_sentimiento }}.</p>
  </body>
</html>
